<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>문서 목록 조회</title>
</head>
<body>
<div align="center">
    <h3>
        <ul>진행문서확인시 문서재요청이 가능합니다.</ul>
        <ul>완료문서확인시 문서삭제가 가능합니다.</ul>
    </h3>
    <hr>

    <form action="documentList">
        <input type="submit" value="진행 문서 확인하기" style="width:150px;height:100px"><br><br>
    </form>

    <form action="documentCompleteList">
        <input type="submit" value="완료 문서 확인하기" style="width:150px;height:100px"><br><br>
    </form>

    <form action="documentAllList">
        <input type="submit" value="문서 관리" style="width:150px;height:100px"><br><br>
    </form>

</div>
</body>
</html>