<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>그룹 삭제</title>
</head>
<body>
<div align="center">
    <p>회사의 그룹을 삭제합니다.</p>
    <hr>
    <form action="groupsDelete", method="get">
        <table align="center">
            <tr>
                <td><label for="accessToken">access_token</label></td>
                <td><input type="text" id="accessToken" name="accessToken"><br></td>
            </tr>
            <tr>
                <td><label for="group_id">group_id</label></td>
                <td><input type="text" id="group_id" name="group_id"><br></td>
            </tr>
            <tr><td colspan="2" align="center"><input type="submit" value="확인"></td></tr>

        </table>
    </form>
</div>
</body>
<script language="JavaScript">

    document.getElementById("accessToken").value = window.localStorage.getItem("accessToken");
   </script>
</html>