<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>그룹 목록 조회</title>
</head>
<body>
<div align="center">
    <p>회사의 그룹 목록을 조회합니다.</p>
    <hr>
    <form action="groupsListSearch", method="get">
        <table align="center">
            <tr>
                <td><label for="accessToken">access_token</label></td>
                <td><input type="text" id="accessToken" name="accessToken"><br></td>
            </tr>
            <tr>
                <td>include_member</td>
                <td><select name="includeMember">
                    <option value="true">true</option>
                    <option value="false" selected>false</option>
                </select></td>
            </tr>
            <tr>
                <td>include_field</td>
                <td><select name="includeField">
                    <option value="true">true</option>
                    <option value="false" selected>false</option>
                </select></td>
            </tr>
            <tr><td colspan="2" align="center"><input type="submit" value="확인"></td></tr>

        </table>
    </form>
</div>
</body>
</html>