<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="gray">
    <ul>
        <li><a href="https://www.eformsign.com/eform/index.html" target="right">홈페이지</a></li>
        <li><a href="Template.html" target="right">작성 가능한 템플릿 목록</a></li>
        <li><a href="Member.html" target="right">멤버 API</a></li>
        <li><a href="group/Group.html" target="right">그룹 API</a></li>
        <li><a href="Token.html" target="right">토큰</a></li>
        <li><a href="Setting.html" target="right">설정</a></li>
    </ul>
</body>
</html>