<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eformsign 시작하기</title>
</head>
<body>
<h3>Index Page</h3>
<button onclick="location.href='token.html'">토큰 발급하기</button>
<button onclick="location.href='tokenRefresh.html'">토큰 갱신하기</button>
<button onclick="location.href='Document_create.html'">문서 생성</button>
<br>
<form action="send", method="GET">
    <label for="username"><input type="text" id="username" name="username"></label><br>
    <label for="userage"><input type="text" id="userage" name="userage"></label><br>
    <input type="submit" value="전송">
</form>
</body>
</html>