<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
</head>
<body>
<div align="center">
    <p>토큰 발급을 위해 계정, API key, 비밀키가 필요합니다.</p>
    <hr>
    <form action="login", method="get">
        <table align="center">
            <tr>
                <td>계정</td>
                <td><label for="userId"><input type="text" id="userId" name="userId"></label><br></td>
            </tr>
            <tr>
                <td>API key</td>
                <td><label for="apikey"><input type="text" id="apikey" name="apikey"></label><br></td>
            </tr>
            <tr>
                <td>비밀키</td>
                <td><label for="secret"><input type="text" id="secret" name="secret"></label><br></td>
            </tr>
            <tr><td colspan="2" align="center"><input type="submit" value="저장"></td></tr>

        </table>
    </form>
</div>
</body>
</html>