<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setting</title>
</head>
<body>


<div align="center" width="80%">
  <h2>토큰 정보입니다</h2>
  <hr>
  <table align="center" width="50%">
    <tr><td>Access Token</td><td><textarea col="500" rows="10" id="access"></textarea></td></tr>
    <tr><td>Refresh Token</td><td><textarea col="500" rows="10" id="refresh"></textarea></td></tr>
  </table>
  <script language="JavaScript">

    document.getElementById("access").value = window.localStorage.getItem("accessToken");
    document.getElementById("refresh").value = window.localStorage.getItem("refreshToken");
   </script>
</div>
</body>
</html>