<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>토큰 갱신하기</title>
</head>
<body>
<div align="center">
<p>토큰 갱신을 위해 access_token, refresh_token 값이 필요합니다 </p>
<hr>
    <form action="refresh", method="get">
        <table align="center">
            <tr>
                <td><label for="accessToken">access_token</label></td>
                <td><input type="text" id="accessToken" name="accessToken"></td><br>
            </tr>
            <tr>
                <td><label for="refreshToken">refresh_token</label></td>
                <td><input type="text" id="refreshToken" name="refreshToken"></td><br>
            </tr>
            <tr><td colspan="2" align="center"><input type="submit" value="확인"></td></tr>
        </table>
    </form>
</div>
</body>
</html>